.footer{

  position:fixed;

  bottom:0;

  left:0;

  width:100%;

  padding:15px 20px;

  background:rgba(255,255,255,0.08);

  backdrop-filter:blur(15px);

  -webkit-backdrop-filter:blur(15px);

  border-top:1px solid rgba(255,255,255,0.2);

  box-shadow:
    0 -5px 15px rgba(0,255,255,0.3),
    0 -10px 30px rgba(0,0,255,0.2);

  text-align:center;

  z-index:999999;
}

.footer h3{
  color:white;
  margin:0;

  text-shadow:
    0 0 5px cyan,
    0 0 10px cyan,
    0 0 20px blue,
    0 0 30px blue;
}

.footer p{
  color:white;
  margin-top:5px;

  text-shadow:
    0 0 5px cyan,
    0 0 10px blue;
}

.copyright{

  margin-top:8px;

  font-size:14px;

  color:white;

  text-shadow:
    0 0 5px cyan,
    0 0 10px blue;

  opacity:0.9;
}