.owner-notifications-page{

background:#f5f7fb;

min-height:100vh;

padding-top:90px;

padding-bottom:120px;

}

.notifications-container{

width:90%;

max-width:900px;

margin:auto;

}

.notifications-container h1{

margin-bottom:35px;

font-size:42px;

}

.notification-card{

display:flex;

gap:20px;

background:white;

padding:25px;

margin-bottom:20px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.notification-card:hover{

transform:translateY(-5px);

box-shadow:0 15px 30px rgba(37,99,235,.15);

}

.notification-icon{

width:70px;

height:70px;

border-radius:50%;

background:#2563eb;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

}

.notification-content{

flex:1;

}

.notification-content h3{

margin-bottom:8px;

color:#222;

}

.notification-content p{

color:#555;

margin-bottom:10px;

}

.notification-content span{

font-size:14px;

color:#888;

}