.analytics-page{

background:#f5f7fb;

min-height:100vh;

padding-top:90px;

padding-bottom:120px;

}

.analytics-container{

width:90%;

max-width:1350px;

margin:auto;

}

.analytics-container h1{

font-size:42px;

margin-bottom:35px;

}

.analytics-cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-bottom:35px;

}

.analytics-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.analytics-card:hover{

transform:translateY(-8px);

}

.analytics-card h2{

font-size:42px;

color:#2563eb;

margin-bottom:10px;

}

.analytics-card p{

font-size:18px;

color:#555;

}

.chart-card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

margin-bottom:35px;

}

.bottom-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

}

.top-property,

.recent-activity{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.top-property img{

width:100%;

height:230px;

object-fit:cover;

border-radius:15px;

margin:20px 0;

}

.recent-activity ul{

padding-left:20px;

}

.recent-activity li{

margin:18px 0;

font-size:17px;

}

.action-card{
    cursor:pointer;
    transition:0.3s;
}

.action-card:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}