.role-page{

  min-height:100vh;

  background:url("/rent-hero-home.png");

  background-size:cover;

  background-position:center;

  background-repeat:no-repeat;

  display:flex;

  justify-content:center;

  align-items:center;
  
}

.role-card{

  width:700px;

  padding:50px;

  border-radius:25px;

  background:rgba(255,255,255,0.08);

  backdrop-filter:blur(15px);

  -webkit-backdrop-filter:blur(15px);

  border:1px solid rgba(255,255,255,0.2);

  box-shadow:
    0 0 15px cyan,
    0 0 30px blue;

  color:white;

  text-align:center;
}

.role-card h4{

  margin:0;

  color:#7fffd4;

  letter-spacing:3px;

  text-transform:uppercase;

  text-shadow:
    0 0 5px cyan,
    0 0 10px cyan,
    0 0 20px blue;
}

.role-card h1{

  margin:15px 0;

  font-size:60px;

  color:white;

  text-shadow:
    0 0 10px cyan,
    0 0 20px blue,
    0 0 30px purple;
}

.role-card p{

  margin-bottom:40px;

  font-size:18px;

  color:rgba(255,255,255,0.9);
}

.role-buttons{

  display:flex;

  justify-content:center;

  gap:30px;
}

.role-btn{

  width:220px;

  height:80px;

  border:none;

  border-radius:15px;

  cursor:pointer;

  color:white;

  font-size:24px;

  font-weight:bold;

  background:linear-gradient(
    90deg,
    #00ffff,
    #0066ff,
    #ff00ff
  );

  box-shadow:
    0 0 10px cyan,
    0 0 20px blue;

  transition:0.3s;
}

.role-btn:hover{

  transform:translateY(-5px);

  box-shadow:
    0 0 20px cyan,
    0 0 40px blue,
    0 0 60px purple;
}